.itemDetail{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
box-sizing: border-box;
border-style: double;
gap: 16px;
 background-color: rgba(15, 200, 228, 0.84);
    color: rgb(8, 9, 9);
    font-size: 18px;
}

.itemDetailImageContent{
    display: flex;
    width: 100%;
height: 100%;
}

.itemDetailImage{
    display: flex;
    width: 100%;
height: 100%;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.itemDData{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}

.itemDName{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           font-size: 30px;
       margin: 5%;
}

.itemDescription{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           font-size: 30px;
       margin: 5%;
}

.itemCPrecio{
display: flex;
flex-direction: row;
justify-content: center;
    color: black;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-size: 40px;
       margin: 5%;
}