.cart-widget {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 100%;
    padding: auto;
    background-color: transparent;
}

.cart-widget :hover {
    cursor: pointer;
    color: rgb(11, 4, 117);
    border-bottom: 5px solid rgb(11, 4, 117);
}

.carrito {
    display: flex;
    justify-content: center;
    justify-content: center;
    gap: 16%;
    width: 50%;
    height: 50%;
}

.numeros {
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    color: rgb(21, 4, 19);
    width: 50%;
    height: 50%;
}

.numeros :hover {
    cursor: pointer;
    color: rgb(240, 222, 55);
}