.itemlistcontainer{
    display: flex;
    flex-direction: column;
   color: tomato;
    background-color: rgb(55, 0, 255);
    align-items: center;
    font-size: 2rem;
}


.loading{
    display: flex;
    color: violet;
}

.cargando{
    display: flex;
color: tomato;
    font-size: 1.5rem;
}