.itemlistcontainer {
    display: flex;
    flex-direction: column;
    color: rgb(11, 4, 117);
    background-color: rgba(15, 200, 228, 0.84);
    align-items: center;
    font-size: 2rem;
}


.loading {
    display: flex;
    color: yellow;
}

.cargando {
    display: flex;
    /*color: rgb(11, 4, 117);*/
    color: tomato;
    font-size: 1.5rem;
}