.Order{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    background-color: #E2F2FD;
    max-width: 420px;
    margin: auto;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.TitleOrder {
    margin: 0 0 0.5rem;
    font-size: 1.5rem;
    color:#0D47A1;
    text-align: center;
        border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.TextOrder {
    background-color: #fff;
    display: flex;
    width: 100%;
    height: 25%;
    padding: 0.85rem 1rem;
    border-radius: 10px;
    border: 2px solid #90CAF9;
    font-size: 1rem;
    transition: border 0.25s, box-shadow 0.25s ease;
}
.TextOrder:focus {
    border-color: #42A5F5;
    box-shadow: 0 0 3px rgba(30, 136, 229, 0.25);
    outline: none;
}