.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-image: url(../../assets/img/fondo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: start;

}
.BarraInicialNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
   justify-content:space-around;
    align-items: center;
}

.Saludar{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10%;
    background-color: transparent;
}
.Presentacion{    display: flex;
    width: 100%;
    height: 100%;
    padding: 10%;
    background-color: transparent;

}
    .logo {
    display: flex;
    width: 50%;
    height: 50%;
    padding: 20%;
    margin: 20%;
}

.carrito {
        display: flex;
    width: 10%;
    height: 10%;
}
.numero1 {
    display: flex;
    width: 10%;
    height: 10%;
}
.Presentacion {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 10%;
        background-color: transparent;
color: rgb(219, 228, 45);
font-size: 45px;
}

.nav-links{
    display: flex;
    flex-direction: column;
}
.ListaDeEntrada{
    display: flex;
    box-sizing: border-box;
        flex-direction: row;
            width: 100%;
        height: 100%;

}

.Cañerias{
    display: flex;
    flex-direction: column;
    padding: 10%;
    width: 100%;
    height: 100%;
    background-color: transparent;
color: rgb(219, 228, 45);
font-size: 45px;

}
.Griferías{
    display: flex;
    flex-direction: column;
    padding: 10%;
    width: 100%;
    height: 100%;
    background-color: transparent;
  color: rgb(219, 228, 45);
  font-size: 45px;
}


.Accesorios{
    display: flex;
    flex-direction: column;
    padding: 10%;
    width: 100%;
    height: 100%;
    background-color: transparent;
   color: rgb(219, 228, 45);
   font-size: 45px;
}