.navbar {
  background-image: url(../../assets/img/Fondo.png);
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid rgb(56, 6, 6);
  padding: 10px 30px;
  margin: 0 0 50px 0;
  font-size: 20px;
  height: 150px;
}

.navbar .logo {
  width: 110px;
  height: 110px;
}

.categories {
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: 400;
}

.categories li {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 0 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
}

.category {
  color: brown;
  text-decoration: none;
}

.category .li:hover {
  cursor: pointer;
  color: rgb(173, 172, 182);
  border-bottom: 5px solid rgb(171, 169, 187);
}

.NavBarCart {
  display: flex;
}