.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-image: url(../../assets/img/fondo.png);
}
.carritoConNumero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.logo {
    display: flex;
    width: 10%;
    height: 10%;
}
.numero1 {
    display: flex;
    width: 10%;
    height: 10%;
}
.apellido {
        display: flex;
        width: 10%;
        height: 10%;
    background-color: rgb(20, 154, 109);
}

.ulTermo{
    display: flex;
    box-sizing: border-box;
}
.Termo{
    display: flex;
    flex-direction: row;
            width: 100%;
        height: 100%;
   /* background-color: rgb(90, 92, 173);
    color: aqua; */
}

.Guante{
    display: flex;
    flex-direction: column;
    padding: 10%;
    color: rgb(219, 102, 189);
}