.Footer{
 background-image: url(../../assets/img/Fondo.png);
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid rgb(56, 6, 6);
  padding: 10px 30px;
  margin: 100px 0 50px 0;
  font-size: 20px;
  height: 150px;
}

.Footer .logo{
  width: 110px;
  height: 110px;
}
.categories{
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: 400;
}
.categories li{
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 0 5px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
}
.categories .category{
  color: rgb(11, 4, 117);
  text-decoration: none;
}
.categories li:hover{
 cursor: pointer;
 color: rgb(11, 4, 117);
 border-bottom: 5px solid rgb(11, 4, 117);
}
