.Footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(222, 21, 21);
    color: coral;
    width: 100%;
    height: 25%;
}

.FooterTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(64, 222, 146);
    color: goldenrod;
}
    .FooterItems{
            display: flex;
       justify-content: center;
    }
   .FooterLogo {
    display: flex;
justify-content: start;
    width: 25%;
    height: 25%;
       margin: 15%;
  padding: 20%;
}

.FooterList{
    display: flex;
       justify-content: center;
}
.Colorin {
    background-color: blue;
    color: rgb(235, 243, 243);
}

