.app {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    background-repeat: no-repeat;
    background-position: start;
    }

.app .Footer {
    display: flex;
  position: bottom;
}
