
.titulo {
    color: blue;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: rgb(169, 169, 182);
}

.boton {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.boton:hover {
    background-color: darkblue;
}

.HeaderClass {
    display: flex;
    color: aqua;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.NavBar{
    display: flex;
    background-color: rgb(20, 154, 109);
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.ulClass{
    display: flex;
    background-color: chocolate;
    width: 100%;
    height: 100%;
   border-radius: 75%;
   padding: 5%;
   margin: 5%;
}

.saludo {
    display: flex;
    background-color: brown;
}