.PanelDeCompra {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1.2rem;
}

.PanelSumar {
    width: 42px;
    height: 42px;
    border-radius: 12px;
    background: #90CAF9;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.25s ease, transform 0.1s ease;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.10);
}

.PanelSumar:hover {
    background: #1E88E5;
    transform: translate(-1px);
}

.PanelSumar:active {
    transform: translate(1px);
}

.PanelSumar svg {
    width: 22px;
    height: 22px;
    color: white;
}


.PanelRestar {
    width: 42px;
    height: 42px;
    border-radius: 12px;
    background: #90CAF9;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.25s ease, transform 0.1s ease;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.10);
}

.PanelRestar:hover {
    background: #1E88E5;
    transform: translate(-1px);
}

.PanelRestar:active {
    transform: translate(1px);
}

.PanelRestar svg {
    width: 22px;
    height: 22px;
    color: white;
}

.PanelCantidad {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #0D47A1;
    min-width: 30px;
    text-align: center;
}

.PanelAdd {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 12px;
    background: #42A5F5;
    color: #fff;
    font-size: 1.rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.25s ease, transform 0.1s ease;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.10);
}

.PanelAdd :hover {
    background: #1E88E5;
    transform: translateY(-1px);
}

.PanelAdd :active {
    transform: translateY(1px);
}