.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  gap: 16px;
  background-color: rgb(230, 126, 152);
  color: rgb(14, 14, 14);
 background-image: url(../../assets/img/Fondo.png); 
}
